*{
    margin: 0;
    padding: 0;
}
.whiteColor{
    color: white;
}
#head{
    width: 100%;
    height:100vh;
    background-image: url("../img/img-1.png");
    background-size: cover;
    background-repeat: no-repeat;

}
.headTitle{
    height: 55px;
    background-color: rgba(0,0,0, .4);

}
.container{
    width: 1130px;
    margin: 0 auto;
}
.logo{
    width: 67%;
    display: inline-block;
    line-height: 56px;
    transition: .3s ease;

}
.logo:hover {
    color: #3cb878;
}
.logIn{
    border-bottom: 1px solid #3cb878;
}
.logoIcon{
    width: 12%;
    display: inline-block;
    border-right: 1px solid gray;

}
.logoIcon img{
   padding-left: 14px;
    /*width: 19px;*/
}

.logoIcon .img1{
    width: 20px;
}
.logoIcon .img3{
    width: 16px;
}


.logoIcon {

    position: relative;
    display: inline-block;

}

.logoIcon .img-top_1 {
    display: none;
    position: absolute;
    top: 1px;
    left: 0px;
    z-index: 99;
}

.logoIcon .img-top_2 {
    display: none;
    position: absolute;
    top: 0px;
    left: 37px;
    z-index: 99;
}

.logoIcon .img-top_3 {
    display: none;
    position: absolute;
    top: 0;
    left: 83px;
    z-index: 99;
}
.logoIcon:hover .img-top_1 {
    display: inline;
}
.logoIcon:hover .img-top_2 {
    display: inline;
}
.logoIcon:hover .img-top_3 {
    display: inline;
}



.welcome{
    width: 18%;
    display: inline-block;
    margin-left: 5px;
    padding-left:8px
}
.greenColor{
    color: #39895d;
    text-decoration: none;

}
.greenColor:hover{
    border-bottom:1px solid #39895d;
}
.contactForm{
    position: relative;
    width: 300px;
    background-color: white;
    border-radius: 12px;
    margin:50px auto;
    padding: 50px;
    padding-top: 22px;
}
.greenImage{
    position: absolute;
    left: 0px;
    top: 28px;
}


.signLink{
    color:black;
    text-decoration:none;
    font-size: 22px;
    font-weight: bold;;

}
.logIn{
    color: #3cb878;
    text-decoration: none;
    padding-top:9px;
    font-size: 13px;
    font-weight: bold;
}

.register{

    display: flex;
    justify-content: space-between;
}
.registerButton{
    display: flex;
    justify-content: space-between;
}
.contactButton{
    margin-top: 10px;
  padding: 10px 23px;
    border-radius: 3px;
    color:white;


}
.blueColor{
    background-color: #305db8;
    display: flex;
}
.redColor{
    background-color: #df4a32;
}
.colorGray{
color: #848484;
}
.borderLine{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.borderBottom{

    width:129px;
    padding: 0 !important;
    height: 0;
    color: #eaeaea;
    border-bottom: 1px solid #eaeaea;
}
.borderSpan{
    line-height: 0;
}
.formInput{
    display: flex;
    flex-direction: column;

}
.formInput input{
    padding: 12px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #eaeaea;

}
.facebookSpan{
    border-right: 1px solid gray;
    padding-right: 12px;
}
.googleSpan{
    border-right: 1px solid gray;
    padding-right: 12px;
}
.contactLogo{
    padding-left: 12px;
    font-size: 17px;

}
.agreeForm{
    display: flex;
}
.agree{
    padding-top: 16px;

}


input[type="checkbox"] {
    visibility: hidden;
    width: 0;
}
label {
    cursor: pointer;
}
input[type="checkbox"] + label:before {
    border: 1px solid #333;
    content: "\00a0";
    display: inline-block;
    font: 16px/1em sans-serif;
    font-weight: bold;
    height: 13px;
    margin: 0 .25em 0 0;
    padding: 0;
    vertical-align: top;
    width: 13px;
    margin-right: 8px;
}
input[type="checkbox"]:checked + label:before {

    color: #39895d;
    content: "\2713";
    text-align: center;
}
input:focus  {
    box-shadow: 0 2px 12px 0 lightgray,0 0 0 1px lightgray;
}

.createForm{
    margin-top: 30px;
}
.createFormButton{
    padding: 10px 100px;
    background-color:#3cb878 ;
    border-radius: 3px;
    color: white;
}


